@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-jenyfPrimaryText bg-jenyfPrimaryBackground relative h-full m-0;
  }
}

@layer components {
  button {
    @apply border border-solid border-black py-2 font-semibold text-sm px-4 hover:bg-jenyfPrimaryBrand;
  }
}

@layer utilities {
  .text-xxs {
    font-size: 12px;
  }

  .text-xs {
    font-size: 14px;
  }

  .text-sm {
    font-size: 16px;
  }

  .text-md {
    font-size: 20px;
  }

  .text-lg {
    font-size: 24px;
  }

  .text-xl {
    font-size: 32px;
  }

  .text-xxl {
    font-size: 36px;
  }

  .text-3xl {
    font-size: 48px;
  }

  .text-4xl {
    font-size: 64px;
  }

  .text-5xl {
    font-size: 72px;
  }

  .text-6xl {
    font-size: 96px;
  }
}
